#header {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

#note-holder {
    background-color: gainsboro;
    border-radius: 10px;
    margin-bottom: 10px;
}

.note {
    background-color: #f9ec4e;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

#footer {
    margin-top: 10px;
    text-align: right;
}

.right-side {
    border-left: 1px solid #e5e5e5;
}

#content .side-title .glyphicon:hover {
    cursor: pointer;
    color: #f60;
}
#content .side-title .glyphicon {
    font-size: 20px;
}
#content .side-title {
    font-size: 30px;
}
#content .side-title a {
    text-decoration: none;
}

.badge {
    background-color: #f66;
    position: relative;
    top: -15px;
    left: 5px;
}

.item {
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 5px;
}

.item:last-child {
    border-bottom: none;
}

.item-footer {
    font-size: 0.80em;
    color: #f60;
    display: block;
    margin-top: -5px;
}

#note-holder {
    padding: 5px 10px 0px;
}

#note-holder > div {
    padding: 10px;
}

#note-holder span.label {
    display: block;
    padding: 5px;
    font-size: 1em;
}

.note-header {
    position: relative;
    top: 5px;
}

h4 a {
    color: cornflowerblue;
}

.header-list {
    padding-top: 5px;
}

.add-note {
    width: 80px;
    height: 15px;
    background-color: #f9ec4e;
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
    text-align: center;

}

.add-note span {
    font-size: 0.8em;
    display: block;
    opacity: 0;
}
.add-note span:hover {
    color: #f60;
    cursor: pointer;
    opacity: 0.8;
}

.note input {
    display: inline;
    height: 28px;
}
