AddType application/x-httpd-php .php .html .htm
AddDefaultCharset UTF-8
#Options +FollowSymLinks
#RewriteEngine On
#RewriteRule ^index.php?=(.*)$ ?f=$1.php&%{QUERY_STRING} [L]
#RewriteRule ^index.php?=main$  main.html [L]
#Redirect main.html index.php
#RewriteRule ^(.*).html$ index.php?f=$1.html&%{QUERY_STRING} [L]
#RewriteRule ^favicon\.(gif|ico|png|jpe?g)$ favicon.ico [L,NC]
#RewriteRule ^(([^/]+/)*[^.]+)$ $1.html [L]
#ErrorDocument 404 404

RewriteEngine Off
Options +Indexes
DirectoryIndex disabled